@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.poppins-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.open-sans-400 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.icon-color {
    color: #ffffff;
    transition: color 0.05s ease;
}

.icon-color:hover {
    color: #e882e8;
}